<div class="col-xs-6 col-sm-2 col-md-2 timeline">
    <a href="/v/{{ video.id }}.html">
        <div class="item">
            <div class="image">
                <div data-cover="{{ video.cover_txt }}" class="data-cover" style="background-color: grey"></div>
                <span class="prev_num">
                {{ video.list_tag }}
                </span>
            </div>
            <div class="title">{{ video.name }}</div>
        </div>
    </a>
</div>
{% if is_mobile %}
    {% if video.idx==5 %}
        <div class="col-xs-12 col-sm-12 col-md-12 timeline">
            <a target="_blank" href="http://acgchina.cc/?aff=198502">
                <img data-cover="https://cdn.jsdelivr.net/gh/kingcdn/sp/imgs/acg2jpg.txt" class="data-cover"
                     style="width: 100%;border-radius: 6px;padding-right: 5px;"/>
            </a>

        </div>
    {% elif video.idx==11 %}
        <div class="col-xs-12 col-sm-12 col-md-12 timeline">
            <a target="_blank" href="https://mm2ee.xyz/">
                <img data-cover="https://cdn.jsdelivr.net/gh/kingcdn/sp/imgs/zhibohgif.txt" class="data-cover"
                     style="width: 100%;border-radius: 6px;padding-right: 5px;"/>
            </a>
        </div>
    {% endif %}
{% endif %}