{#{% if is_mobile %}#}
{#    {% if video.idx==1 %}#}
{#        <div class="col-xs-12 col-sm-12 col-md-12 timeline">#}
{#            {% include("html/ads/bar_ad"|common) %}#}
{#        </div>#}
{#    {% endif %}#}
{#{% endif %}#}
{% if not site.list_txt %}
    <div class="col-xs-6 col-sm-3 col-md-3 timeline">
        <a href="/v/{{ video.id }}.html">
            <div class="item">
                <div class="image">
                    <div referrerpolicy="no-referrer" data-cover="{{ video.cover_txt }}" class="data-cover"
                         style="background-color: grey"></div>
                    <span class="prev_num">
                {{ video.list_tag }}
                </span>
                </div>
                <div class="title">{{ video.name }}</div>
            </div>
        </a>
    </div>
{% else %}
    <div class="timeline_txt col-xs-12">
        <div class="item">
            <div class="title">
                {{ video.list_tag }}
                <a href="/v/{{ video.id }}.html">
                    《{{ video.name }}》
                </a>
                &nbsp;&nbsp;
                <span style="font-size: 0.8em;">@{{ search_links(video.actors,"&nbsp;")|safe }}</span>
                &nbsp;&nbsp;
            </div>
        </div>

    </div>
{% endif %}

{#{% if is_mobile %}#}
{#    {% if video.idx!=0 and video.idx%6==0 %}#}
{#        <div class="col-xs-12 col-sm-12 col-md-12 timeline">#}
{#            {% include("html/ads/bar_ad"|common) %}#}
{#        </div>#}
{#    {% endif %}#}
{#{% endif %}#}