{% extends site.theme|layout %}

{% block content %}
    <div>
        {% include("html/ads/bar_ad_all"|common) %}
    </div>
    <!-- --------------導航名站標題-------------- -->

    <section class="section_hot_app">
        <div class="area3">
            <img src="{{ static('imgs/title_recomand.png',site.theme) }}">
        </div>
        <ul id='recommendLinks' class="ul_link">
            {% if friend_links %}
                {% for cate in friend_links %}
                    {% if cate=='精品' %}
                        {% for link in friend_links[cate] %}
                            <li class="yellow"><a target="blank" href="{{ link.url }}">{% if link.img and link.img.url_txt %}
                                <img alt="{{ link.name }}" data-cover="{{ link.img.url_txt }}"
                                     class="data-cover">{% else %}🔥{% endif %} <br/>{{ link.name }}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}

        </ul>
    </section>

    <!-- --------------導航名站標題-------------- -->

    <section class="section_hot_app">
        <div class="area3">
            <img src="{{ static('imgs/digital_title_33.png',site.theme) }}">
        </div>
        <ul id='guideLinks' class="ul_link">
            {% if friend_links %}
                {% for cate in friend_links %}
                    {% if cate=='导航' %}
                        {% for link in friend_links[cate] %}
                            <li class="yellow"><a target="blank" href="{{ link.url }}">{% if link.img %}
                                <img alt="{{ link.name }}" data-cover="{{ link.img.url_txt }}"
                                     class="data-cover">{% else %}🔥{% endif %} {{ link.name }}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </section>

    <!-- --------------視頻電影標題-------------- -->

    <section class="section_hot_app">
        <div class="area3">
            <img src="{{ static('imgs/digital_title_44.png',site.theme) }}">
        </div>
        <ul id='movieLinks' class="ul_link">
            {% if friend_links %}
                {% for cate in friend_links %}
                    {% if cate=='视频' %}
                        {% for link in friend_links[cate] %}
                            <li class="yellow"><a target="blank" href="{{ link.url }}">{% if link.img %}
                                <img alt="{{ link.name }}" data-cover="{{ link.img.url_txt }}"
                                     class="data-cover">{% else %}🔥{% endif %} {{ link.name }}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </section>

    <!-- --------------小說動漫標題-------------- -->

    <section class="section_hot_app">
        <div class="area3">
            <img src="{{ static('imgs/digital_title_55.png',site.theme) }}">
        </div>
        <ul id='novelLinks' class="ul_link">
            {% if friend_links %}
                {% for cate in friend_links %}
                    {% if cate=='小说' %}
                        {% for link in friend_links[cate] %}
                            <li class="yellow"><a target="blank" href="{{ link.url }}">{% if link.img %}
                                <img alt="{{ link.name }}" data-cover="{{ link.img.url_txt }}"
                                     class="data-cover">{% else %}🔥{% endif %} {{ link.name }}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </section>

    <!-- --------------美女寫真標題-------------- -->

    <section class="section_hot_app">
        <div class="area3">
            <img src="{{ static('imgs/digital_title_66.png',site.theme) }}">
        </div>
        <ul id='photoalbumLinks' class="ul_link">
            {% if friend_links %}
                {% for cate in friend_links %}
                    {% if cate=='美图' %}
                        {% for link in friend_links[cate] %}
                            <li class="yellow"><a target="blank" href="{{ link.url }}">{% if link.img %}
                                <img alt="{{ link.name }}" data-cover="{{ link.img.url_txt }}"
                                     class="data-cover">{% else %}🔥{% endif %} {{ link.name }}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </section>
    <div>
        {% include("html/ads/bar_ad_all"|common) %}
    </div>

{% endblock %}