{% extends site.theme|layout %}

{% block content %}
<section class="section_description">
      <div class="area">
        <h1><img src="https://g.jujiarobot.com/pjbadh1.club/images/title-coopertation.png"></h1>
        <p id="cooperation"><p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>▶ CPA、CPS及包月投放请联系<br>邮箱：{{ site.email }}<br></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></p><p><strong><strong><strong><strong><strong><strong><strong>&nbsp;</strong></strong></strong></strong></strong></strong></strong></p><p>本站非垃圾站点，为保障你我权益，本站广告采取先上文字，款到上链接的方式<br>投放最低期限为一个月，不接受短期或测试，想好再来。 请确保所提供之软件为<br>非损害本站以及他人利益的程序（如诈欺、病毒、木马等）一经发现本站有权终止合作，亦不退费。</p></p>

        <h1><img src="https://g.jujiarobot.com/pjbadh1.club/images/title-links.png"></h1>
         <p id="linkRegistration"><ul>	<li>所有申请站点需保证有免费资源通道，不收录纯收费站点</li>	<li>提交前，请在贵站首页第一位置处添加本站链接，二三位择优收录，其他位置斟酌收录</li>	<li>本站将定期抽查所有网站，如发现链接失效﹑更换本站位置﹑下掉本站链接的情况将立即删除 贵站如有弹窗请勿提交，提交也不会被收录</li>	<li>提交后本站会在数天内添加，不会另行通知</li>	<li>友链请透过下方提交，否则站长会收不到</li></ul><p>&nbsp;</p><p>名称：破解<strong>吧</strong></p><p>收录地址：<strong>https://{{ site.domain }}</strong></p><p>(注：本站友链专用域名，设置本站友链时，请填此域名，填别的域名概不收录，谢谢合作)</p>(注：本站友链专用域名，设置本站友链时，<br>请填此域名，填别的域名概不收录，谢谢合作)</p>

      </div>
    </section>
    <section class="section_form">
      <div class="area">
          请发邮件到 {{ site.email }}
      </div>
    </section>

{% endblock %}