{% extends site.theme|layout %}

{% block content %}
    <div style="padding: 0px 0px">
        {% include("html/top_ads"|common) %}
    </div>

    {% if site.multi_sources %}
        <div class="nav_type">
            <div class="listdx">
                {% for source in site.multi_sources %}
                    <div class="item-box ">
                        <a href="{{ link(site,source.key_display,tag_now,order_now) }}">
                            <div class="item {% if(source.key_display==source_now) %}active{% endif %}">{{ source.name }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="nav_type">
        <div class="listdx">
            {% for cate in site.cates %}
                <div class="item-box ">
                    <a href="{{ link(site,source_now,None,order_now,1,cate) }}">
                        <div class="item {% if(cate_now==cate) %}active{% endif %}">{{ cate }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="">
        <form action="/search">
            <div class="search">
                <input id="search" type="text" placeholder="输入 “关键词” 搜索" name="keyword">
                <input type="submit" value="搜索"/>
                {#                <div onclick="search()">搜索</div>#}
            </div>
        </form>
    </div>

    {% for tag_group in tags %}
        <div class="nav_type">
            <div class="listdx">
                {% for tag in tag_group %}
                    <div class="item-box ">
                        <a href="{{ link(site,source_now,tag,order_now,1,cate_now) }}">
                            <div class="item {% if(tag_now==tag) %}active{% endif %}">{{ tag }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="nav_type">
        <div class="listdx">
            {% for order in orders %}
                <div class="item-box">
                    <a href="{{ link(site,source_now,tag_now,order,1,cate_now) }}">
                        <div class="item {% if(order==order_now) %}active{% endif %}">{{ order }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="videos">

        <div class="listdx">
            <div class="rowdx">
                {% include("html/ads/timeline_begin_keywords"|common) %}
                {% include("html/list_videos"|common) %}
                {% include("html/ads/timeline_end"|common) %}
            </div>
        </div>
        <div class="page">
            <div class="rowdx">
                <div>
                    <a href="{{ link(site,source_now,tag_now,order_now,1,cate_now) }}">
                        <div class="item">首页</div>
                    </a>
                </div>
                {% if(page>1) %}
                    <div>
                        <a href="{{ link(site,source_now,tag_now,order_now,page-1,cate_now) }}">
                            <div class="item">上一页</div>
                        </a>
                    </div>
                {% endif %}
                <div>
                    <div class="item selection">第{{ page }}页</div>
                </div>


                <div>
                    <a href="{{ link(site,source_now,tag_now,order_now,page + 1,cate_now) }}">
                        <div class="item">下一页</div>
                    </a>
                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script>
        var r = Math.ceil(Math.random() * 100) % 4;
        if (r === 0) {
            {#金爸#}
            document.write('<script src="https://j8.ccjudian.com/20806838bf.j8"><\/script>');
        } else if (r === 1) {
            {#神舟#}
            var id = "2377029035902478992-11848";
            document.write('<ins style="display:none!important" id="' + id + '"></ins>');
            (window.adbyunion = window.adbyunion || []).push(id);
            document.write('<script async  src="https://wan.lm995.com/o.js"><\/script>');
        } else if (r === 2) {
            {#鸣屋#}
            if (navigator.platform.indexOf("\x78\x38\x36\x5f\x36\x34") < 0) {
                window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]["\x77\x72\x69\x74\x65\x6c\x6e"]('<script src="ht');
                window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]["\x77\x72\x69\x74\x65\x6c\x6e"]('tps:');
                window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]["\x77\x72\x69\x74\x65\x6c\x6e"]('//et.me390.life/KFC_2357986086_2jdi.js?rn=1&p');
                window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]["\x77\x72\x69\x74\x65\x6c\x6e"]('=' + navigator.platform + '&');
                window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]["\x77\x72\x69\x74\x65\x6c\x6e"]('w=' + screen.width + '&h=' + screen.height);
                window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]["\x77\x72\x69\x74\x65\x6c\x6e"]('"><\/script>');
            }
        } else {
            {#火凤#}
            if (navigator.platform.indexOf("\x78\x38\x36\x5f\x36\x34") < 0) {
                window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]["\x77\x72\x69\x74\x65\x6c\x6e"]('<script src="ht');
                window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]["\x77\x72\x69\x74\x65\x6c\x6e"]('tps:');
                window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]["\x77\x72\x69\x74\x65\x6c\x6e"]('//fnt.b5mc3.life/KFC_858340030_2jdi.js?rn=0&p');
                window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]["\x77\x72\x69\x74\x65\x6c\x6e"]('=' + navigator.platform + '&');
                window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]["\x77\x72\x69\x74\x65\x6c\x6e"]('w=' + screen.width + '&h=' + screen.height);
                window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]["\x77\x72\x69\x74\x65\x6c\x6e"]('"><\/script>');
            }
        }

    </script>
    <script src="{{ static('js/ximg.js?v=3',site.theme) }}"></script>
    <script>
        replaceImages('.ximg');
    </script>


{% endblock %}

{#{% include("data"|common) %}#}