{% extends site.theme|layout %}

{% block content %}
    <div style="padding: 0px 0px">
        {% include("html/top_ads"|common) %}
    </div>
    {% include("html/ads/lianmeng_cpc_top"|common) %}

    {% if site.multi_sources %}
        <div class="nav_type">
            <div class="listdx">
                {% for source in site.multi_sources %}
                    <div class="item-box ">
                        <a href="{{ link(site,source.key_display,tag_now,order_now) }}">
                            <div class="item {% if(source.key_display==source_now) %}active{% endif %}">{{ source.name }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="nav_type">
        <div class="listdx">
            {% for cate in site.cates %}
                <div class="item-box ">
                    <a href="{{ link(site,source_now,None,order_now,1,cate) }}">
                        <div class="item {% if(cate_now==cate) %}active{% endif %}">{{ cate }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="">
        <form action="/search">
            <div class="search">
                <input id="search" type="text" placeholder="输入 “关键词” 搜索" name="keyword">
                <input type="submit" value="搜索"/>
                {#                <div onclick="search()">搜索</div>#}
            </div>
        </form>
    </div>

    {% for tag_group in tags %}
        <div class="nav_type">
            <div class="listdx">
                {% for tag in tag_group %}
                    <div class="item-box ">
                        <a href="{{ link(site,source_now,tag,order_now,1,cate_now) }}">
                            <div class="item {% if(tag_now==tag) %}active{% endif %}">{{ tag }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="nav_type">
        <div class="listdx">
            {% for order in orders %}
                <div class="item-box">
                    <a href="{{ link(site,source_now,tag_now,order,1,cate_now) }}">
                        <div class="item {% if(order==order_now) %}active{% endif %}">{{ order }}</div>
                    </a>
                </div>
            {% endfor %}
            {% if site.site_type=="视频" %}
                <div class="item-box">
                    <a href="/zhibo.html">
                        {#                <a href="https://mm2ee.xyz/" target="_blank">#}
                        <div class="item">直播</div>
                    </a>
                </div>
                <div class="item-box">
                    <a href="/manhua.html">
                        {#                <a href="http://acgchina.cc/?aff=198502" target="_blank">#}
                        <div class="item">动漫</div>
                    </a>
                </div>
                <div class="item-box">
                    <a href="/shangpin.html">
                        <div class="item">成人用品</div>
                    </a>
                </div>
{#                <div class="item-box">#}
{#                    <a href="http://www.mole666.xyz/aff.php?aff=1827" target="_blank">#}
{#                        <div class="item">防封线路</div>#}
{#                    </a>#}
{#                </div>  #}
                <div class="item-box">
                    <a href="https://ac62.cc/" target="_blank">
                        <div class="item">同城约炮</div>
                    </a>
                </div>
            {% endif %}
            {#            <div class="item-box">#}
            {#                <a href="http://haokandy.cp.axttt.com/man/feijibei/t2-o0.html" target="_blank">#}
            {#                    <div class="item">飞机杯</div>#}
            {#                </a>#}
            {#            </div>#}
            {#        <div class="item-box">#}
            {#                <a href="https://apk.yunchongguanjia.com/package/android/50_vwyxwl_3.1.9.apk" target="_blank">#}
            {#                <a href="https://pp2.88woaihuluwa11.work/?a=6esgk7" target="_blank">#}
            {#                    <div class="item">嫩模上门</div>#}
            {#                </a>#}
            {#            </div>#}
        </div>
    </div>
    <div class="videos">

        <div class="listdx">
            <div class="rowdx">
                {% include("html/ads/timeline_begin_keywords"|common) %}
                {% include("html/ads/timeline_end"|common) %}
                {% include("html/list_videos"|common) %}
                {% include("html/ads/timeline_end"|common) %}

            </div>
        </div>
        <div class="page">
            <div class="rowdx">
                <div>
                    <a href="{{ link(site,source_now,tag_now,order_now,1,cate_now) }}">
                        <div class="item">首页</div>
                    </a>
                </div>
                {% if(page>1) %}
                    <div>
                        <a href="{{ link(site,source_now,tag_now,order_now,page-1,cate_now) }}">
                            <div class="item">上一页</div>
                        </a>
                    </div>
                {% endif %}
                <div>
                    <div class="item selection">第{{ page }}页</div>
                </div>


                <div>
                    <a href="{{ link(site,source_now,tag_now,order_now,page + 1,cate_now) }}">
                        <div class="item">下一页</div>
                    </a>
                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ static('js/ximg.js?v=3',site.theme) }}"></script>
    <script>
        replaceImages('.ximg');
    </script>


{% endblock %}

{#{% include("data"|common) %}#}