{% extends site.theme|layout %}
{% block title %}{{ "切换语言"|_ }}{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
    <div>
        {% for lang in langs_support %}
            <a class="pay-btn change-lang" style="display: inline-block;margin: 10px;" data-key="{{ lang['key'] }}">
                <div>{{ lang['name'] }}</div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            jQuery.cookie = function (name, value, options) {
                if (typeof value != 'undefined') {
                    options = options || {};
                    if (value === null) {
                        value = '';
                        options.expires = -1;
                    }
                    var expires = '';
                    if (options.expires && (typeof options.expires == 'number' || options.expires.toUTCString)) {
                        var date;
                        if (typeof options.expires == 'number') {
                            date = new Date();
                            var totalTime = 24 * 3600;
                            var hour = date.getHours();
                            var minutes = date.getMinutes();
                            var seconds = date.getSeconds();
                            var pastTime = 3600 * hour + 60 * minutes + seconds;
                            var leftTime = totalTime - pastTime;
                            date.setTime(date.getTime() + (options.expires * leftTime * 1000));
                        } else {
                            date = options.expires;
                        }
                        expires = '; expires=' + date.toUTCString();
                    }
                    var path = options.path ? '; path=' + (options.path) : '';
                    var domain = options.domain ? '; domain=' + (options.domain) : '';
                    var secure = options.secure ? '; secure' : '';
                    document.cookie = [name, '=', encodeURIComponent(value), expires, path, domain, secure].join('');
                } else {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
            };
            $('.change-lang').click(function () {
                $.cookie("lang", $(this).attr("data-key"), {
                    path: '/',
                    expires: 1
                });
                window.location.href = "/"
            })
        })
    </script>

{% endblock %}
