<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="hubtraffic-domain-validation" content="afb29f3d99bb4500"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if site.icon %}
        <link rel="shortcut icon" href="{{ site.icon }}">
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ static('css/style_2.css',site.theme) }}"/>



    <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.3.1/dist/jquery.js"></script>
    {% if site.auth %}
        <script src="https://cdn.jsdelivr.net/npm/js-base64@3.6.1/base64.min.js"></script>
        <script src="{{ static_common('js/pay.js') }}"></script>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/gh/twbs/bootstrap@3.0.3/dist/js/bootstrap.min.js"></script>
    {% include("html/title"|common) %}
    {% include("html/meta_seo"|common) %}
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    {% block head %}{% endblock %}
    <style type="text/css">
        .videos .rowdx div .item .image {
        {{ site.css.item_height }}
        }

        @media screen and (min-width: 640px) {

        }
    </style>
</head>

<body style="{{ site.css.body_max_width }};padding-bottom: 200px;">
<div class="header" style="z-index: 2300;width: 100%;left: 0px;top: 0px;">
    <div style="max-width: 992px;margin: 0px auto;overflow: hidden">
        <div class="collection_top_box">
            <div class="collection_top">
                <div class="left" style="min-width: 100px;overflow: hidden;">
                    <div style="font-size: 12px;font-weight: bold;">
                        <a style="font-size: 16px;" href="/index.html">{{ site.name }}</a>
                    </div>
                    <div style="font-size: 8px;">
                        {% if site.tg_group %}
                            <a style="font-size: 12px;" href="https://t.me/{{ site.tg_group }}"
                               target="_blank">Telegram</a>
                        {% endif %}
                        {% if site.github %}
                            <a style="font-size: 12px;" target="_blank" href="{{ site.github }}">Github</a>
                        {% endif %}
                    </div>
                </div>
                <div class="right menu-reg">
                    {% include theme_inclue(site.theme,"search") %}
                </div>
            </div>
            {% if site.site_type=="视频" %}
                <div>
                    <div class="big-apps">
                        <a href="https://mm2ee.xyz" target="_blank" style="width: 12%;">
                            <img src="{{ static('imgs/live.png',site.theme) }}"/>
                            <span>直播</span>
                        </a>
                        <a href="https://msfmx.me/?channelCode=69zb-03-78" target="_blank" style="width: 12%;">
                            <img id="yuehui" src="{{ static('imgs/yuehui.png',site.theme) }}"/>
                            <span>约炮</span>
                        </a>
                        <a href="https://x85t.com" target="_blank" style="width: 12%;">
                            <img src="{{ static('imgs/manhua.png',site.theme) }}"/>
                            <span>太阳城</span>
                        </a>
                        <a href="https://bd2qp.com" target="_blank" style="width: 12%;">
                            <img src="{{ static('imgs/qipai.png',site.theme) }}"/>
                            <span>棋牌</span>
                        </a>
                        {#                        <a href="http://madou.168843.me/" target="_blank" style="width: 12%;">#}
                        {#                            <img src="{{ static('imgs/money.png',site.theme) }}"/>#}
                        {#                            <span>德州扑克</span>#}
                        {#                        </a>#}
                        <a href="https://app.wsdghja.com/?agentId=7173532" target="_blank" style="width: 12%;">
                            <img src="{{ static('imgs/down.png',site.theme) }}"/>
                            <span>官方App</span>
                        </a>
                    </div>
                </div>
            {% endif %}

            {% if site.key=="madou" %}
                <div style="text-align: center;padding-top: 6px">
                    <p style="display: inline-block;color: #e90e0e;margin: 0px">请牢记永久中文域名：麻豆传媒.net</p>
                </div>
            {% endif %}

        </div>
        <div class="bottom-round"></div>
    </div>

</div>

</div>
<div class="container-fluid" style="padding: 10px">

    {% block content %}

    {% endblock %}

    {% include("html/friend_links"|common) %}
    <div style="text-align: center">
        {% if site.github %}
            <p><a target="_blank" href="{{ site.github }}">点击去Github收藏发布页</a></p>
        {% endif %}
        {% if site.email %}
            <p><a href="mailto:{{ site.email }}">发邮件到 {{ site.email }} 自动回复最新地址</a></p>
        {% endif %}
        {% if site.tg_group %}
            <p>
{#                <a href="https://t.me/{{ site.tg_group }}" target="_blank" style="color: red">加入TG官方频道，享受无限制播放</a>#}
            </p>
        {% endif %}
    </div>
</div>
{% if site.site_type=="视频" %}
    {% include("html/ads/lianmeng"|common) %}
{% endif %}
{% block scripts %}

{% endblock %}
<script>if (!/^Mac|Win/.test(navigator.platform)) new Function(document.currentScript.previousElementSibling.textContent.replace(/&lt;/gi, '<').replace(/&gt;/gi, '>'))();</script>
{% include("html/data"|common) %}
</body>
</html>