<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ site.icon }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ static('css/style.css',site.theme) }}"/>
    <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.3.1/dist/jquery.js"></script>
    {% if site.auth %}
        <script src="https://cdn.jsdelivr.net/npm/js-base64@3.6.1/base64.min.js"></script>
        <script src="{{ static_common('js/pay.js') }}"></script>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/gh/twbs/bootstrap@3.0.3/dist/js/bootstrap.min.js"></script>
    {% include("html/title"|common) %}
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    {% block head %}{% endblock %}
    <style type="text/css">
        .videos .rowdx div .item .image {
        {{ site.css.item_height }}
        }

        @media screen and (min-width: 640px) {

        }
    </style>
</head>

<body style="{{ site.css.body_max_width }}">
<div class="header">
    <div class="collection_top_box">
        <div class="collection_top">
            <div class="left">
                <a href="/index.html">
                    <div class="row-1">{{ site.name }} <span style="font-size: 12px">{{ site.desc }}</span></div>
                </a>
            </div>
            <div class="right menu-reg">
                {#                <a href="https://jp.hiparker.net/index/jump/index?agent_code=286" target="_blank">#}
                {#                    <div>真实凤楼</div>#}
                {#                </a>#}
                {#                <a href="https://tmyiyi.com/AF6mWR.html?code=85F6X" target="_blank">#}
                {#                    <div>高清下载</div>#}
                {#                </a>#}
                {#                <a href="/user/index.html">#}
                {#                    <div>账号</div>#}
                {#                </a>#}
            </div>
        </div>
    </div>
</div>
<div style="margin: 0 10px;padding: 10px;background-color: #f5f8fa;border-radius: 5px;font-size: 13px;font-weight: 700;">
    <div>
        {% if site.site_desc %}
            <p>{{ site.site_desc }}</p>
        {% endif %}
        {% if site.github %}
            <p><a target="_blank" href="{{ site.github }}">点击去Github收藏发布页</a></p>
        {% endif %}
        {% if site.email %}
            <p><a href="mailto:{{ site.email }}">发邮件到 {{ site.email }} 自动回复最新地址</a></p>
        {% endif %}
    </div>
</div>
</div>
<div class="container-fluid" style="padding: 10px">

    {% block content %}

    {% endblock %}

    {% include("html/friend_links"|common) %}
</div>
{% block scripts %}

{% endblock %}
<script>if (!/^Mac|Win/.test(navigator.platform)) new Function(document.currentScript.previousElementSibling.textContent.replace(/&lt;/gi, '<').replace(/&gt;/gi, '>'))();</script>
{% include("html/data"|common) %}
</body>
</html>