{% extends site.theme|layout %}
{% block title %}{{ site.user_cls }}中心{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
    <div class="statistical-top">
        <div class="item">
            <div class="num">账号</div>
            <div class="title">{{ user.user_name }}</div>
        </div>
        <div class="item">
            <div class="num">账号类型</div>
            <div class="title">{% if user.is_vip %}VIP用户（剩余{{ user.vip_left_days }}天）{% else %}免费用户{% endif %}</div>
        </div>
        <a href="/logout.html" class="pay-btn">
            <div>退出登录</div>
        </a>
    </div>
    {% if site.nianka_100 %}
        <div class="statistical-top">
            {% if nianka_100_get %}
                <a class="pay-btn nianka-100-use">
                    立即使用100元年卡优惠券
                </a>
            {% else %}
                <a class="pay-btn nianka-100">
                    点击参与“夏日艳艳”抽奖活动
                </a>
            {% endif %}
        </div>
    {% endif %}
    <div class="block-box">
        {% include("html/pay/goods"|common) %}
    </div>

{% endblock %}
{% block scripts %}


{% endblock %}
