{% extends site.theme|layout %}
{% block head %}
    {% include("html/no-referer"|common) %}
{% endblock %}

{% block content %}
    <div>
        {% include("html/ads/bar_ad"|common) %}
    </div>
    <div><h3>{{ video.name }}</h3></div>
    {% if(video.m3u8_type!="pan") %}
        <div>{{ site.sobj.m3u8_desc(video,site)|safe }}</div>
    {% endif %}

    {% include("html/video_player"|common) %}
    <div class="videos"
         style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 4px;padding: 15px 10px;border-radius: 10px;margin-bottom: 10px;width: 100%">
        <div style="text-align: center;margin-bottom: 12px;">
            <a href="https://tyda8.com/" target="_blank"
               style="cursor: pointer;cursor: pointer;padding: 3px 8px;margin-left: 5px;background-color: #fff131;border-radius: 5px;font-weight: 700;">
                官方博彩App</a>
            <a href="https://892q1.com" target="_blank"
               style="cursor: pointer;cursor: pointer;padding: 3px 8px;margin-left: 5px;background-color: #fff131;border-radius: 5px;font-weight: 700;">
                官方棋牌App</a>
            {% if nid %}
                <a href="/v/{{ nid }}.html"
                   style="cursor: pointer;cursor: pointer;padding: 3px 8px;margin-left: 5px;background-color: #fff131;border-radius: 5px;font-weight: 700;">
                    下一个视频</a>
            {% endif %}

        </div>
        {% include("html/ads/lianmeng_cpc"|common) %}
        <div>
            {#            <a onclick="setUtmSource(event, this)"#}
            {#               href="http://www.pornhub.com?utm_source=domain&utm_medium=banner-paid&utm_campaign=hubtraffic_sepzero"#}
            {#               border="0" target="_blank"><img alt="Pornhub Square" border="0"#}
            {#                                               src="https://www.hubtraffic.com/_affiliate/banners/1543860078.png"#}
            {#                                               style="width: 100%"/></a>#}
        </div>
        <h4>猜你喜欢：</h4>
        <div class="listdx">
            <div class="rowdx">
                {% include("html/ads/timeline_end"|common) %}
                {% include("html/videos_related"|common) %}
            </div>
        </div>
        {% include("html/comments"|common) %}

    </div>

{% endblock %}
{% block scripts %}

{% endblock %}
