{% extends site.theme|layout %}
{% block head %}
    {% include("html/no-referer"|common) %}
{% endblock %}

{% block content %}
    <div><h3>{{ video.name }}</h3></div>
    {% if(video.m3u8_type!="pan") %}
        <div>{{ site.sobj.m3u8_desc(video,site)|safe }}</div>
    {% endif %}
    {% include("html/video_player"|common) %}
    <div class="videos"
         style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 4px;padding: 15px 10px;border-radius: 10px;margin-bottom: 10px;width: 100%">
        <div style="text-align: center;margin-bottom: 12px;">
            <a href="https://tyda8.com/" target="_blank"
               style="cursor: pointer;cursor: pointer;padding: 3px 10px;margin-left: 7px;background-color: #fff131;border-radius: 5px;font-weight: 700;">
                官方博彩App</a>
            <a href="https://9ii88.com" target="_blank"
               style="cursor: pointer;cursor: pointer;padding: 3px 10px;margin-left: 7px;background-color: #fff131;border-radius: 5px;font-weight: 700;">
                官方棋牌App</a>

        </div>
        <div id="cpa_">
            <script>
                (function () {
                    var id = "2377029035902478992-11849";
                    document.write('<ins style="display:none!important" id="' + id + '"></ins>');
                    (window.adbyunion = window.adbyunion || []).push(id);
                })();
            </script>
            <script async src="https://wan.lm995.com/o.js"></script>
        </div>
        <h4>猜你喜欢：</h4>
        <div class="listdx">
            <div class="rowdx">
                {% include("html/videos_related"|common) %}
            </div>
        </div>
        {% include("html/comments"|common) %}

    </div>

{% endblock %}
{% block scripts %}

{% endblock %}
