{% extends site.theme|layout %}
{% block head %}
    {% include("html/no-referer"|common) %}
{% endblock %}

{% block content %}
    {% if site.site_type=="视频" %}
        <div>
            {% include("html/ads/bar_ad"|common) %}
        </div>
        {% include("html/ads/lianmeng_cpc_top"|common) %}
    {% endif %}
    <div><h3>{{ video.name }}</h3></div>
    {% if(video.m3u8_type!="pan") %}
        <div>{{ site.sobj.m3u8_desc(video,site)|safe }}</div>
    {% endif %}

    {% include("html/video_player"|common) %}
    <div class="videos"
         style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 4px;padding: 15px 10px;border-radius: 10px;margin-bottom: 10px;width: 100%">
        {% if site.site_type=="视频" %}
            <div style="text-align: center;margin-bottom: 12px;">
                <a href="https://manguan01.net/?channel=FC0183" target="_blank"
                   style="cursor: pointer;cursor: pointer;padding: 3px 8px;margin-left: 5px;background-color: #fff131;border-radius: 5px;font-weight: 700;">
                    官方约炮App</a>
                <a href="https://www.oniqbul.com/?i_code=5407349" target="_blank"
                   style="cursor: pointer;cursor: pointer;padding: 3px 8px;margin-left: 5px;background-color: #fff131;border-radius: 5px;font-weight: 700;">
                    亚博体育</a>
                {% if nid %}
                    <a href="/v/{{ nid }}.html"
                       style="cursor: pointer;cursor: pointer;padding: 3px 8px;margin-left: 5px;background-color: #fff131;border-radius: 5px;font-weight: 700;">
                        下一个视频</a>
                {% endif %}

            </div>
        {% endif %}
        {% if site.site_type=="视频" %}
            {% include("html/ads/lianmeng_cpc"|common) %}
        {% endif %}
        <div>
            {#            <a onclick="setUtmSource(event, this)"#}
            {#               href="http://www.pornhub.com?utm_source=domain&utm_medium=banner-paid&utm_campaign=hubtraffic_sepzero"#}
            {#               border="0" target="_blank"><img alt="Pornhub Square" border="0"#}
            {#                                               src="https://www.hubtraffic.com/_affiliate/banners/1543860078.png"#}
            {#                                               style="width: 100%"/></a>#}
        </div>
        <h4>猜你喜欢：</h4>
        <div class="listdx">
            <div class="rowdx">
                {% include("html/videos_related"|common) %}
                {% include("html/ads/timeline_end"|common) %}
            </div>
            {% if site.site_type=="视频" %}
                <div>
                    {% include("html/ads/bar_ad_all"|common) %}
                </div>
            {% endif %}
        </div>
        {% include("html/comments"|common) %}

    </div>

{% endblock %}
{% block scripts %}

{% endblock %}
