{% extends site.theme|layout %}

{% block content %}
    <div class="">
        <form action="/search">
            <div class="search">
                <input id="search" type="text" placeholder="输入 “关键词” 搜索" name="keyword">
                <input type="submit" value="搜索"/>
                {#                <div onclick="search()">搜索</div>#}
            </div>
        </form>
    </div>
    <div class="nav_type">
        <div class="listdx">
            <div class="item-box">
                <a href="/">
                    <div class="item">最新</div>
                </a>
            </div>
            <div class="item-box">
                <a href="/所有/热门/1.html">
                    <div class="item">热门</div>
                </a>
            </div>
            <div class="item-box">
                <a href="/zhibo.html">
                    <div class="item active">直播</div>
                </a>
            </div>
            <div class="item-box">
                <a href="/manhua.html">
                    <div class="item">动漫</div>
                </a>
            </div>
            <div class="item-box">
                <a href="/shangpin.html">
                    <div class="item">成人用品</div>
                </a>
            </div>
        </div>
    </div>
    <div class="videos">

        <div class="listdx">

            <div class="rowdx">
                {% include("html/zhibo"|common) %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}

{#{% include("data"|common) %}#}