{% extends site.theme|layout %}
{% block selector %}

{% endblock %}
{% block head %}
    {% include("html/no-referer"|common) %}
{% endblock %}
{% block content %}
    <div class="video_dom">
        <div style="font-size: 22px;padding: 13px 0px 10px;">
            {% if site.pay and video.is_vip %}
                [VIP可看]
            {% endif %}
            {{ video.name }}
        </div>

    {% include("html/ads/lianmeng_cpc_top"|common) %}
        {% include("html/ads/lianmeng_cpc"|common) %}
        {% if(video.m3u8_type!="pan") %}
            <div>{{ site.sobj.m3u8_desc(video,site)|safe }}</div>
        {% endif %}
        {% include("html/video_player"|common) %}
    </div>
    <div style="text-align: center;margin-bottom: 12px;margin-top: 12px">
        <a href="https://tc25.cc" target="_blank"
           style="cursor: pointer;cursor: pointer;padding: 3px 8px;margin-left: 5px;background-color: #fff131;border-radius: 5px;font-weight: 700;">
            官方约炮App</a>
        <a href="https://www.oniqbul.com/?i_code=5407349" target="_blank"
           style="cursor: pointer;cursor: pointer;padding: 3px 8px;margin-left: 5px;background-color: #fff131;border-radius: 5px;font-weight: 700;">
            亚博体育</a>
        {% if nid %}
            <a href="/v/{{ nid }}.html"
               style="cursor: pointer;cursor: pointer;padding: 3px 8px;margin-left: 5px;background-color: #fff131;border-radius: 5px;font-weight: 700;">
                下一个视频</a>
        {% endif %}

        <div class="item_tags" style="margin-top: 10px;padding: 10px">
            {% for keyword in video.keywords() %}
                <a href="/search?keyword={{ keyword }}">#{{ keyword }}</a>
            {% endfor %}
        </div>

        <div>
            {% include("html/videos_related"|common) %}
        </div>
{% endblock %}