{% extends site.theme|layout %}
{% block head %}
    {% include("html/no-referer"|common) %}
{% endblock %}

{% block content %}
    <div class="mo-cols-case mo-java-waps" data-mob="0" data-wap="/">

        <div class="mo-play-info mo-cols-rows mo-back-white mo-part-round mo-mtxs-0px mo-mtsm-10px mo-mtmd-20px">
            {% include("html/video_player"|common) %}
        </div>


        <div class="mo-cols-lays mo-back-white mo-part-round mo-cols-rows">
            <dl class="mo-deta-info mo-cols-rows">
                <dt class="mo-paxs-5px mo-pamd-10px mo-cols-info mo-cols-xs4 mo-cols-sm3 mo-cols-lg2">
                    <a class="mo-situ-pics mo-situ-lazy mo-lazy-color mo-bord-round mo-cols-rows mo-lazy-highs mo-byxs-2by3"
                       href="{{ video.url }}"
                       style="display: block; background-image: url({{ video.cover }});">
                        <img class="mo-part-full"
                             src="{{ video.cover }}"
                             alt="{{ video.name }}">
                        <span class="mo-situ-play"></span>
                        <span class="mo-situ-tips mo-fsxs-12px mo-bord-round mo-back-mojia">推荐</span>
                    </a>
                </dt>
                <dd class="mo-paxs-5px mo-pamd-10px mo-cols-info mo-cols-xs7 mo-cols-sm9 mo-cols-lg7">
                    <h1 class="mo-wrap-arow mo-fsxs-16px mo-fssm-18px"><a
                            href="{{ video.url }}">{{ video.name }}</a></h1>
                    <ul class="mo-cols-rows">
                        <li class="mo-cols-info mo-cols-xs12 mo-cols-md6 mo-fsxs-14px mo-wrap-arow mo-ptxs-5px">
                            <span class="mo-text-muted">主演:&nbsp;</span>
                            {{ search_links(video.actors,"&nbsp;")|safe }}

                        </li>
                        <li class="mo-cols-info mo-cols-xs12 mo-cols-md6 mo-fsxs-14px mo-wrap-arow mo-ptxs-5px"><span
                                class="mo-text-muted">导演:&nbsp;</span>
                            {{ search_links(video.directors,"&nbsp;")|safe }}

                        </li>
                        <li class="mo-cols-info mo-cols-xs6 mo-cols-md3 mo-fsxs-14px mo-wrap-arow mo-ptxs-5px"><span
                                class="mo-text-muted">分类:&nbsp;</span>
                            {{ search_links(video.type_name,"&nbsp;")|safe }}


                        </li>
                        <li class="mo-cols-info mo-cols-xs6 mo-cols-md3 mo-fsxs-14px mo-wrap-arow mo-ptxs-5px"><span
                                class="mo-text-muted">地区:&nbsp;</span>
                            {{ search_links(video.area,"&nbsp;")|safe }}

                        </li>
                        <li class="mo-cols-info mo-cols-xs6 mo-cols-md3 mo-fsxs-14px mo-wrap-arow mo-ptxs-5px mo-coxs-none mo-coss-block">
                            <span class="mo-text-muted">年份:&nbsp;</span>
                            {{ search_link(video.year)|safe }}
                        </li>
                        <li class="mo-cols-info mo-cols-xs6 mo-cols-md3 mo-fsxs-14px mo-wrap-arow mo-ptxs-5px mo-coxs-none mo-coss-block">
                            <span class="mo-text-muted">更新时间:&nbsp;</span>
                            {{ video.time_format }}
                        </li>
                        <li class="mo-cols-info mo-cols-xs12 mo-ptxs-5px mo-fsxs-14px mo-lhxs-20px mo-lhxl-24px mo-coxs-none mo-comd-block mo-text-muted">
                            短评:&nbsp;{{ video.desc }}
                        </li>
                    </ul>
                </dd>
                <dd class="mo-paxs-5px mo-pamd-10px mo-coxs-none mo-colg-block mo-cols-info mo-cols-lg3">
                    <div class="mo-code-info mo-part-code mo-coxs-center mo-paxs-5px mo-pamd-10px" data-api="0">
                        <p class="mo-text-muted mo-pbxs-10px mo-pbxl-20px mo-lhxs-24px">扫描二维码打开</p>
                        <div id="qrcode" class="mo-code-pics"></div>
                        <script type="text/javascript">
                            new QRCode(document.getElementById("qrcode"), "{{ video.url_full(site) }}");
                        </script>
                    </div>
                </dd>
            </dl>
            <dl class="mo-deta-info mo-part-bbsd mo-bord-muted mo-maxs-5px mo-mrmd-10px mo-mlmd-10px"></dl>
        </div>
        {% if video.m3u8_list|length>0 %}
            {% for m3u8_source in video.m3u8_list %}
                <div class="mo-cols-lays mo-back-white mo-part-round mo-cols-rows mo-part-over">
                    <div class="mo-sort-head mo-cols-rows mo-paxs-5px mo-pamd-10px">
                        <h2 class="mo-fsxs-14px mo-fsss-16px mo-fsmd-18px mo-cols-zero mo-part-slip mo-cols-xs8 mo-cols-sm9 mo-cols-lg10"
                            tabindex="2" style="overflow: hidden; outline: none;">
                            <a class="mo-movs-btns mo-mrxs-5px mo-mrmd-10px {% if m3u8_source.name==s1 %}mo-text-mojia{% endif %}" href="javascript:;"><i
                                    class="mo-prxs-2px mo-fsxs-16px mo-fsmd-18px mo-icon-font mo-icon-play"></i>{{ m3u8_source.name }}
                            </a>
                        </h2>
                    </div>
                    <ul class="mo-movs-item mo-sort-boxs mo-cols-rows mo-pamd-5px mo-cols-show">
                        {% for part in m3u8_source['parts'] %}
                            <li class="mo-paxs-5px mo-cols-info mo-cols-xs2 mo-cols-lg1">
                                <a class="mo-part-btns mo-fsxs-14px mo-bord-muted mo-bord-round mo-cols-show mo-wrap-arow mo-lhxs-40px mo-back-click mo-back-write {% if m3u8_source.name==s1 and part.name==s2 %}mo-text-mojia{% endif %}"
                                   href="?s1={{ m3u8_source.name }}&s2={{ part['name'] }}" target="_self">{{ part['name'] }}</a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            {% endfor %}
        {% endif %}

        <div class="mo-cols-lays mo-back-white mo-part-round">
            <div class="mo-cols-rows mo-paxs-5px mo-pamd-10px">
                <h2 class="mo-fsxs-14px mo-fsss-16px mo-fsmd-18px">猜你喜欢</h2>
            </div>
            <ul class="mo-cols-rows">
                {% include("html/videos_related"|common) %}
            </ul>
        </div>
    </div>

{% endblock %}
{% block scripts %}

{% endblock %}
