{% extends site.theme|layout %}

{% block content %}
    <!--图标102 yszb zxkp 291 127 122 477 221 222 428 223 224.png 126 922 601 103.jpg -->
    <div class="tjimg pc">
        <div class="change">
            <ul>
                {% if friend_links and friend_links.get('TOP') %}
                    {% for link in friend_links['TOP'] %}
                        <li><a href="{{ link.url }}" title="{{ link.name }}" target="_blank" rel="external nofollow">
                            <img alt="{{ link.name }}" src="{{ link.img.url }}"><span>{{ link.name }}</span></a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <div style="clear:both"></div>
        </div>
    </div>

    <!--wap-->
    <div class="tjimgwap wap">
        <div class="changgewap">
            <ul>
                {% if friend_links and friend_links.get('TOP') %}
                    {% for link in friend_links['TOP'] %}
                        <li><a href="{{ link.url }}" title="{{ link.name }}" target="_blank" rel="external nofollow">
                            <img alt="{{ link.name }}" src="{{ link.img.url }}"><span>{{ link.name }}</span></a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <div style="clear:both"></div>
        </div>
    </div>
    <!--导航-->
    <div class="look">
        <div class="focus">
            {% if friend_links and friend_links.get('精品') %}
                {% for link in friend_links['精品'] %}
                    <a href="{{ link.url }}" title="{{ link.name }}" target="_blank"
                       rel="external nofollow">{{ link.name }}</a>
                {% endfor %}
            {% endif %}
        </div>
        <div class="flash">
            <a class="flash_bg" href="/" target="_blank" rel="external nofollow"
               style="background-position:center center; background-image:url({{ static('images/116.jpg',site.theme) }})"></a>
            <a class="flash_wd" href="/" target="_blank" rel="external nofollow">国产自拍、啪啪视频</a>

        </div>
        <div class="news">
            <div class="news_box">
                <div class="news_title">
                    <h2>回家的路</h2>
                    <p></p>
                </div>
                <ul class="news_list">
                    <li><span>1 ：</span>
                        {% if site.github %}
                            <a target="_blank" href="{{ site.github }}">点击去Github收藏发布页</a>
                        {% endif %}
                    </li>

                </ul>
            </div>
            <a class="news_url open" href="{{ site.github }}" target="_blank" rel="external nofollow">
                <div>永久地址发布页</div>
                <span class="fs17 border hong">点击进入</span>
            </a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="collect">
        <font class="hei wap">欢迎回家！ 请 <span>收藏</span> 本站地址发布页，开车永不迷路</font>
        <font class="pc">欢迎回家！ 请 <span>收藏</span> 本站地址发布页，开车永不迷路，一直被模仿，从未被超越</font>
    </div>
    <div class="collect wap">
        <a class="lan cu" href="/cjg.apk" target="_blank">安装本站安卓客户端</a> <font class="hei wap">丨</font> <a
            class="hong cu"
            href="https://t.me/icjgdh"
            target="_blank">加入官方电报频道</a>
    </div>
    <!-- 公告 -->
    <div class="show_zhanzhang pc">

        <font class="hong">本站明确包含成人内容，请遵守当地法律访问，未满18周岁严格禁止访问！</font>

    </div>




    {% if friend_links %}
        {% for cate in friend_links %}
            {% if cate!="TOP" and cate!="推荐" %}
                <div id="{{ cate }}" class="web">
                    <div class="web_class">
                        <div class="web_class_title">
                            <h2>{{ cate }}</h2>
                            <div></div>
                        </div>
                    </div>
                    <ul class="web_list">
                        {% for link in friend_links[cate] %}
                            <li>
                                <div style="background-color: rgb(255, 51, 51); display: none;"></div>
                                <a href="{{ link.url }}" target="_blank"
                                   {% if link.img.url %}style="background-image:url({{ link.img.url }})"{% endif %}
                                   rel="external nofollow">{{ link.name }}</a></li>
                        {% endfor %}

                        <div class="clear"></div>
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div id="zhanzhang" class="zhanzhang pc">
        <div class="zhanzhang_title">
            <h2>站长工具</h2>
        </div>
        <ul class="zhanzhang_list">
            <h5>站长必备</h5>
            <li>
                <a href="https://www.coincola.app/mobile/signup?ref=fOT4wRMO&amp;country_code=CN&amp;lang=zh-CN&amp;utm_source=fOT4wRMO&amp;utm_medium=web&amp;utm_campaign=invite4.0&amp;utm_content=link"
                   target="_blank" rel="external nofollow">CoinCola（比特币）</a></li>
            <li><a href="https://mail.google.com/" target="_blank" rel="external nofollow">Gmail（谷歌邮箱）</a></li>
            <li><a href="https://www.google.com/chrome/" target="_blank" rel="external nofollow">Chrome（谷歌浏览器）</a></li>
            <li><a href="https://analytics.google.com/" target="_blank" rel="external nofollow">Analytics（谷歌统计）</a></li>
            <li><a href="https://www.google.com/drive/" target="_blank" rel="external nofollow">Drive（谷歌云盘）</a></li>
            <li><a href="https://www.cloudflare.com/" target="_blank" rel="external nofollow">Cloudflare（免费DNS/CDN）</a>
            </li>
            <li><a href="https://lastpass.com/" target="_blank" rel="external nofollow">LastPass（密码云保存）</a></li>
            <li><a href="https://www.17ce.com/" target="_blank" rel="external nofollow">17测（网速检测）</a></li>
            <li><a href="https://www.emoneyspace.com/" target="_blank" rel="external nofollow">eMoneySpace（免费网页）</a>
            </li>
            <li><a href="http://tool.chinaz.com/Tools/dwz.aspx" target="_blank" rel="external nofollow">短地址生成</a></li>
            <li><a href="https://www.a5.net/forum-266-1.html" target="_blank" rel="external nofollow">A5交易</a></li>
            <div class="clear"></div>
        </ul>
        <ul class="zhanzhang_list">
            <h5>域名被墙</h5>
            <li><a href="https://www.11cm.com/" target="_blank" rel="external nofollow">被墙查询</a></li>
            <div class="clear"></div>
        </ul>
        <ul class="zhanzhang_list">
            <h5>视频相关</h5>
            <li><a href="https://www.jiuyipan.com/" target="_blank" rel="external nofollow">91免费云盘</a></li>
            <li><a href="https://www.27pan.com/" target="_blank" rel="external nofollow">27盘（免费云盘）</a></li>
            <li><a href="https://www.35pan.com/" target="_blank" rel="external nofollow">35盘（免费云盘）</a></li>
            <li><a href="http://www.75pan.com/" target="_blank" rel="external nofollow">75盘（免费云盘）</a></li>
            <li><a href="http://www.aijianji.com/" target="_blank" rel="external nofollow">爱剪辑（热门软件）</a></li>
            <li><a href="https://chrome.google.com/webstore/detail/%E7%8C%AB%E6%8A%93/jfedfbgedapdagkghmgibemcoggfppbb"
                   target="_blank" rel="external nofollow">网页视频嗅探</a></li>
            <li><a href="http://www.smzy.com/smzy/down381798.html" target="_blank" rel="external nofollow">云转码50年授权</a>
            </li>
            <li><a href="http://www.yunzhuanma.com/" target="_blank" rel="external nofollow">云转码</a></li>
            <li><a href="http://www.ckplayer.com/" target="_blank" rel="external nofollow">CKplayer</a></li>
            <li><a href="https://www.jiakaodashi.com/" target="_blank" rel="external nofollow">视频格式转换</a></li>
            <div class="clear"></div>
        </ul>
        <ul class="zhanzhang_list">
            <h5>资源采集</h5>
            <li><a href="http://www.msnyxs0.com/" target="_blank" rel="external nofollow">待添加</a></li>
            <div class="clear"></div>
        </ul>
        <ul class="zhanzhang_list">
            <h5>检测 、查询</h5>
            <li><a href="https://www.baidu.com/s?wd=ip" target="_blank" rel="external nofollow">本机IP</a></li>
            <li><a href="https://www.17ce.com/" target="_blank" rel="external nofollow">17测</a></li>
            <li><a href="http://ping.chinaz.com/" target="_blank" rel="external nofollow">站长Ping</a></li>
            <li><a href="http://tool.chinaz.com/speedtest" target="_blank" rel="external nofollow">站长测速</a></li>
            <li><a href="http://ping.chinaz.com/" target="_blank" rel="external nofollow">Whois查询</a></li>
            <li><a href="http://ip.chinaz.com/" target="_blank" rel="external nofollow">域名查IP</a></li>
            <li><a href="https://www.beian88.com/" target="_blank" rel="external nofollow">ICP备案查询</a></li>
            <div class="clear"></div>
        </ul>
        <ul class="zhanzhang_list">
            <h5>程序模板</h5>
            <li><a href="http://www.maccms.cn/" target="_blank" rel="external nofollow">苹果CMS</a></li>
            <li><a href="http://www.ctcms.cn/" target="_blank" rel="external nofollow">CTcms</a></li>
            <li><a href="https://www.9ccms.com/" target="_blank" rel="external nofollow">久草CMS</a></li>
            <li><a href="http://www.msvod.cc/" target="_blank" rel="external nofollow">Msvod</a></li>
            <li><a href="http://www.ppvod.com/" target="_blank" rel="external nofollow">PPvod</a></li>
            <li><a href="http://www.69bbsz.com/" target="_blank" rel="external nofollow">1769模板论坛</a></li>
            <li><a href="https://www.huzhan.com/" target="_blank" rel="external nofollow">互站网</a></li>
            <li><a href="http://www.xiaog.cc/" target="_blank" rel="external nofollow">小俊工作室</a></li>
            <li><a href="https://ckplayerx.com/template/" target="_blank" rel="external nofollow">100模板</a></li>
            <li><a href="http://www.2zzt.com/" target="_blank" rel="external nofollow">wordpress主题</a></li>
            <li><a href="http://www.m1938.com/" target="_blank" rel="external nofollow">M1938模板</a></li>
            <li><a href="http://down.admin5.com/" target="_blank" rel="external nofollow">A5源码</a></li>
            <li><a href="http://www.0cms.cc/portal.php" target="_blank" rel="external nofollow">模板堂</a></li>
            <div class="clear"></div>
        </ul>
        <ul class="zhanzhang_list">
            <h5>图片相关</h5>
            <li><a href="http://www.gaitubao.com/" target="_blank" rel="external nofollow">图片尺寸修改</a></li>
            <li><a href="https://www.yasuotu.com/" target="_blank" rel="external nofollow">图片压缩</a></li>
            <li><a href="http://www.gaitubao.com/shuiyin/" target="_blank" rel="external nofollow">图片加水印</a></li>
            <li><a href="http://www.faviconico.org/" target="_blank" rel="external nofollow">Favicon制作</a></li>
            <li><a href="https://tool.oschina.net/qr" target="_blank" rel="external nofollow">二维码生成</a></li>
            <div class="clear"></div>
        </ul>
        <ul class="zhanzhang_list">
            <h5>聊天工具</h5>
            <li><a href="http://www.pc6.com/softview/SoftView_282276.html" target="_blank"
                   rel="external nofollow">环聊（谷歌）</a></li>
            <li><a href="https://www.skype.com/" target="_blank" rel="external nofollow">Skype（微软）</a></li>
            <li><a href="http://www.live800.com/" target="_blank" rel="external nofollow">Live800（在线客服系统）</a></li>
            <li><a href="https://telegram.org/" target="_blank" rel="external nofollow">Telegram</a></li>
            <li><a href="https://www.messenger.com/" target="_blank" rel="external nofollow">Messenger（FaceBook）</a>
            </li>
            <li><a href="https://www.teamviewer.us/" target="_blank" rel="external nofollow">TeamViewer（桌面协助/控制）</a>
            </li>
            <li><a href="https://www.whatsapp.com/" target="_blank" rel="external nofollow">WhatsApp</a></li>
            <div class="clear"></div>
        </ul>
        <ul class="zhanzhang_list">
            <h5>服务器 、VPS</h5>
            <li><a href="https://www.linode.com/" target="_blank" rel="external nofollow">Linode</a></li>
            <li><a href="https://www.vultr.com/" target="_blank" rel="external nofollow">Vultr</a></li>
            <li><a href="https://www.digitalocean.com/" target="_blank" rel="external nofollow">Digitalocean</a></li>
            <li><a href="https://bandwagonhost.com/" target="_blank" rel="external nofollow">搬瓦工</a></li>
            <li><a href="https://www.ceranetworks.com/en" target="_blank" rel="external nofollow">Ceranetworks</a></li>
            <li><a href="https://billing.virmach.com/aff.php?aff=9321" target="_blank"
                   rel="external nofollow">virmach</a>
            </li>
            <div class="clear"></div>
        </ul>
        <ul class="zhanzhang_list">
            <h5>域名</h5>
            <li><a href="https://sg.godaddy.com/zh" target="_blank" rel="external nofollow">Godaddy</a></li>
            <li><a href="https://www.namesilo.com/" target="_blank" rel="external nofollow">Namesilo</a></li>
            <li><a href="https://www.namecheap.com/" target="_blank" rel="external nofollow">Namecheap</a></li>
            <li><a href="http://www.domainsite.com/" target="_blank" rel="external nofollow">Domainsite</a></li>
            <li><a href="https://www.register.com/" target="_blank" rel="external nofollow">Register</a></li>
            <li><a href="http://www.resellerclub.com/" target="_blank" rel="external nofollow">Resellerclub</a></li>
            <li><a href="http://www.webnic.cc/" target="_blank" rel="external nofollow">Webnic</a></li>
            <li><a href="https://www.name.com/zh-cn/" target="_blank" rel="external nofollow">Name</a></li>
            <li><a href="https://www.enom.com/" target="_blank" rel="external nofollow">Enom</a></li>
            <div class="clear"></div>
        </ul>
        <ul class="zhanzhang_list">
            <h5>代码程序</h5>
            <li><a href="https://www.bt.cn/" target="_blank" rel="external nofollow">宝塔面板</a></li>
            <li><a href="https://www.wdlinux.cn/" target="_blank" rel="external nofollow">WDCP面板</a></li>
            <li><a href="http://www.downza.cn/soft/235505.html" target="_blank" rel="external nofollow">Xshell</a></li>
            <li><a href="http://phpstudy.php.cn/" target="_blank" rel="external nofollow">PHPstudy</a></li>
            <li><a href="https://www.sojson.com/encrypt/" target="_blank" rel="external nofollow">JS加密</a></li>
            <li><a href="http://www.51xuediannao.com/" target="_blank" rel="external nofollow">Jquery特效</a></li>
            <div class="clear"></div>
        </ul>
        <ul class="zhanzhang_list">
            <h5>网站统计</h5>
            <li><a href="https://analytics.google.com/" target="_blank" rel="external nofollow">Analytics（谷歌统计）</a></li>
            <li><a href="https://web.umeng.com/" target="_blank" rel="external nofollow">CNZZ</a></li>
            <li><a href="http://www.51.la/" target="_blank" rel="external nofollow">51.La</a></li>
            <li><a href="https://tongji.baidu.com/" target="_blank" rel="external nofollow">百度统计</a></li>
            <li><a href="http://count.51yes.com/reg-1.htm" target="_blank" rel="external nofollow">51yes</a></li>
            <div class="clear"></div>
        </ul>
        <ul class="zhanzhang_list">
            <h5>邮箱</h5>
            <li><a href="http://tool.chinaz.com/Tools/dwz.aspx" target="_blank" rel="external nofollow">Gmail（谷歌邮箱）</a>
            </li>
            <li><a href="https://protonmail.com/" target="_blank" rel="external nofollow">Protonmail</a></li>
            <li><a href="https://outlook.live.com/" target="_blank" rel="external nofollow">Outlook</a></li>
            <li><a href="https://outlook.live.com/" target="_blank" rel="external nofollow">hotmiail</a></li>
            <li><a href="https://www.zoho.com/mail" target="_blank" rel="external nofollow">ZOHO</a></li>
            <li><a href="https://www.mail.com/int/" target="_blank" rel="external nofollow">mail</a></li>
            <div class="clear"></div>
        </ul>
        <ul class="zhanzhang_list">
            <h5>广告联盟</h5>
            <li><a href="https://adxxx.com/" target="_blank" rel="external nofollow">AdXXX（全球H广告平台）</a></li>
            <li><a href="https://www.adxad.com/" target="_blank" rel="external nofollow">ADXAD</a></li>
            <div class="clear"></div>
        </ul>
        <div class="zhanzhang_addweb pc">
            欢迎站长朋友分享好用工具，本站将放置于此。
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}

{#{% include("data"|common) %}#}