{% if friend_links %}
    <div class="friend-link-container">
        <div class="container-title">友情链接</div>
        <div class="link-content">
            {% for cate in friend_links %}
                <div>
                    <span class="cate-title">{{ cate }}类:</span>
                    {% for link in friend_links[cate] %}
                        <a class="link-item" href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <p>日IP大约1万5，广告合作或友情换链，请邮件：sitespool8#gmail.com</p>
    </div>
{% endif %}