{% for video in videos %}
    {% include theme_inclue(site.theme,"list_video") %}
    {% if is_mobile %}
        {% if loop.index==6 %}
            <a target="_blank" href="http://acgchina.cc/?aff=198502">
                <img data-cover="https://cdn.jsdelivr.net/gh/kingcdn/sp/imgs/acg2jpg.txt" class="data-cover"
                     style="width: 100%;border-radius: 6px;padding-right: 5px;"/></a>
        {% elif loop.index==12 %}
            <a target="_blank" href="https://mm2ee.xyz/">
                <img data-cover="https://cdn.jsdelivr.net/gh/kingcdn/sp/imgs/zhibojpg.txt" class="data-cover"
                     style="width: 100%;border-radius: 6px;padding-right: 5px;"/></a>
        {% endif %}
    {% endif %}

{% endfor %}