<link rel="stylesheet" type="text/css" href="{{ static_common('css/ads_full.css') }}"/>
<div class="bofang" style="display: flex;flex-wrap: wrap;justify-content: center;">
    <link rel="stylesheet" type="text/css" href="{{ static_common('css/ads_common.css') }}"/>
    <div style="padding: 0px;border-radius: 10px;width: 100%;margin: 0px;">
        <div class="videoContainer">


            <div class="data-cover bofang-vip {% if not preview and site.pay and video.is_vip %}state-check-vip{% endif %}"
                 data-cover="{{ video.cover_txt }}" style="background-color: grey;display: none;">
                <div class="btns">
                    <a class="bofang-btn" href="/user.html">充值VIP，海量视频任意观看</a>
                    {% if site.nianka_100 %}
                        <a class="bofang-btn" href="/user.html?nianka_100=1">抽最高200元的年卡抵扣券</a>
                    {% endif %}
                    <a class="bofang-btn" href="/p/{{ video.id }}.html">预览5分钟</a>
                </div>
            </div>

            <div class="bofang-vip data-cover {% if not preview and site.auth and video.is_vip %}state-check-login{% endif %}"
                 style="background-color: grey;display: none;" data-cover="{{ video.cover_txt }}">
                <div class="btns">
                    <a class="bofang-btn" href="/register.html?_r={{ video.id }}">免费注册，精彩视频免费看</a>
                    <a class="bofang-btn" href="/login.html?_r={{ video.id }}">立即登录</a>
                </div>
            </div>
            <div tt="{{ video.m3u8_type }}" class="state-{% if preview %}preview{% elif video.is_vip %}pay{% endif %}"
                 style="{% if preview and not site.preview %}display: none;{% endif %}">
                {% if(video.m3u8_type=="empty") %}
                    <p>暂无资源</p>
                {% elif(video.m3u8_type=="iframe") %}
                    {% include("html/video_player_iframe"|common) %}
                {% elif(video.m3u8_type=="pan") %}
                    {% include("html/video_pan"|common) %}
                {% else %}
                    {% if(video_ad.if_video_inside_ads_full) %}
                        {% include("html/video_ads_full"|common) %}
                    {% else %}
                        {% include("html/video_ads_small"|common) %}
                    {% endif %}
                {% endif %}
                {% if not site.adc.video_inside %}
                    <div id="inline-ad" style="color: white;bottom:0;border: 1px solid #c0c4cc;">
                        {{ site.sobj.inline_ad_html(site,video)|safe }}
                    </div>
                {% endif %}
                <marquee id="danmu"></marquee>


                <script>
                    $(function () {
                        var inline_ad = $('#inline-ad');
                        inline_ad.css("display", "block");
                        $('#video').append(inline_ad);
                        var video = $('video');
                        if (video.length === 0) {
                            setTimeout(function () {
                                {#inline_ad.css("display", "none");#}
                                inline_ad.css('position', 'static');
                                $('.videoContainer').prepend(inline_ad);
                            }, 10000)
                        }
                        setTimeout(function () {

                            var danmu_txts = {{ site.sobj.danmu(video,site)|safe }};
                            var danmu_idx = 0

                            function display_danmu() {
                                $('#danmu').css("display", "block");
                                $('#danmu').html(danmu_txts[danmu_idx]);
                                danmu_idx += 1;
                                if (danmu_idx === danmu_txts.length) {
                                    danmu_idx = 0;
                                }
                                setTimeout(function () {
                                    $('#danmu').css("display", "none");
                                }, 1000 * 20)

                            }

                            setInterval(display_danmu, 1000 * 60 * 5);
                        }, 10000)
                    })

                </script>
            </div>
        </div>
        {% if site.part_show_pos=="inside" and video.m3u8_list|length>0 and video.m3u8_list[0]['parts']|length>1 %}
            <div class="seg-parts">
                {% for m3u8_source in video.m3u8_list %}
                    {% if video.m3u8_list|length>1 %}
                        <div class="seg">{{ m3u8_source.name }}：</div>
                    {% endif %}
                    <div class="parts">
                        {% for part in m3u8_source['parts'] %}
                            {% if m3u8_source.name==s1 and part.name==s2 %}
                                <span>{{ part['name'] }}</span>
                            {% else %}
                                <a href="?s1={{ m3u8_source.name }}&s2={{ part['name'] }}">{{ part['name'] }}</a>
                            {% endif %}
                            {% if site.part_newline %}
                                <br/>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% if site.site_type=="视频" %}
        <div style="text-align: center;margin: 12px 0px;">
            <a href="https://ac63.cc" target="_blank"
               style="cursor: pointer;cursor: pointer;padding: 3px 8px;margin-left: 5px;background-color: #fff131;border-radius: 5px;font-weight: 700;">
                官方约炮App</a>
            <a href="https://x85t.com" target="_blank"
               style="cursor: pointer;cursor: pointer;padding: 3px 8px;margin-left: 5px;background-color: #fff131;border-radius: 5px;font-weight: 700;">
                太阳城</a>
            <a href="https://mm2ee.xyz" target="_blank"
               style="cursor: pointer;cursor: pointer;padding: 3px 8px;margin-left: 5px;background-color: #fff131;border-radius: 5px;font-weight: 700;">
                美眉直播</a>
            {% if nid %}
                <a href="/v/{{ nid }}.html"
                   style="cursor: pointer;cursor: pointer;padding: 3px 8px;margin-left: 5px;background-color: #fff131;border-radius: 5px;font-weight: 700;">
                    下一个视频</a>
            {% endif %}

        </div>
        <div>
            <a href="https://ac63.cc" target="_blank" style="margin-top: 10px;">
                <img style="width:100%;" class="data-cover"
                     data-cover="https://cdn.jsdelivr.net/gh/kingcdn/sp/imgs/yuepng.txt"/>
            </a>
        </div>
    {% endif %}
</div>