{#<img data-cover="{{ video.cover_txt }}" class="data-cover" style="display: none" id="video_cover"/>#}
<video id="video" class="play video-js vjs-big-play-centered" controls
       controlsList="nodownload" preload="preload"
       language="zh-CN">
    {% if video.m3u8 %}
        <source src="{{ video.m3u8|safe }}" type="application/x-mpegURL"/>
    {% endif %}
    {% if video.sub %}
        <track kind="subtitles" src="{{ video.sub }}" srclang="zh-cn" label="中文" default mode="showing">
    {% endif %}
</video>

{% if preview %}
    <div class="preview_box hide" style="position: absolute;top: 10px;left: 10px;z-index: 20 !important">
        {% if preview.redirect_source %}
            <a class="bofang-btn" href="{{ video.surl }}" target="_blank">预览结束，前往{{ video.sname }}观看完整版视频</a>
        {% else %}
            <a class="bofang-btn" href="/user.html" target="_blank">预览结束，升级VIP无限制播放</a>
        {% endif %}
    </div>
    {% if preview.redirect_source %}
        <div class="" style="position: absolute;top: 10px;right: 10px;z-index: 20 !important">
            <a class="bofang-btn" href="{{ video.surl }}" target="_blank">
                <div><img class="data-cover" data-cover="{{ video.sicon }}"/></div>
                来自{{ video.sname }}
            </a>
        </div>

        <div class="redirect_source_target hide"
             style="position: absolute;top: 0px;left: 0px;z-index: 19 !important;background-color:black;height: 100%;width:100%;background-size: contain;background-position: center;background-repeat:no-repeat;background-image: url('{{ video.so.lo.img.poster }}')">
            <a href="{{ video.surl }}" target="_blank" style="width: 100%;height: 100%;display: block"> </a>
        </div>

    {% endif %}
{% endif %}
{% if site.show_video_inside_ads %}
    <div class="advertisement hide open_ad" id="advertisement"
         style="background-image: url('{{ video_ad.link.img.poster }}')">
        <div>
            <div class="main">
                <div class="content">
                    <div class="ad_icon">
                        <img data-cover="{{ video_ad.link.img.icon }}" class="data-cover"/>
                    </div>
                    <div class="ad_desc">
                        <div class="name">{{ video_ad.link.name }}</div>
                        {% if video_ad.show_name %}
                            <div class="desc">{{ video_ad.link.desc }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="actions">
                    <div class="open_ad">{{ video_ad.ad_click_text() }}</div>
                    <div id="close_ad"><span class="ad_timer" data-left="5"></span>跳过广告</div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<link href="https://cdn.jsdelivr.net/npm/video.js@7.12.3/dist/video-js.min.css" rel="stylesheet">


<script src="https://cdn.jsdelivr.net/npm/video.js@7.12.3/dist/video.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/video.js@7.12.3/dist/lang/zh-CN.min.js"></script>
{#<script src="https://cdn.jsdelivr.net/npm/videojs-contrib-hls@5.15.0/dist/videojs-contrib-hls.min.js"></script>#}
<script src="https://cdn.jsdelivr.net/npm/videojs-contrib-ads@6.7.0/dist/videojs.ads.min.js"></script>
{#<script src="https://cdn.bootcss.com/video.js/7.7.5/video.min.js"></script>#}
{#<script src="https://cdn.bootcss.com/videojs-contrib-hls/5.15.0/videojs-contrib-hls.min.js"></script>#}

{#<script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-ads/6.7.0/videojs.ads.min.js"></script>#}
<script>
    $(document).ready(function () {
        $ = jQuery;
        videojs.addLanguage('zh-CN', {
            "The media could not be loaded, either because the server or network failed or because the format is not supported.": "没有获取到视频地址，请尝试稍后刷新本页",
            "Toggle theater mode": "网页全屏",
            "Quality": "画质",
            "subtitles off": "关闭",
            "subtitles settings": "设置"
        });
        var myPlayer = videojs('video', {
            "customControlsOnMobile": true, "nativeControlsForTouch": false, "html5": {"vhs": {"overrideNative": true}},
            fluid: true, liveui: true, userActions: {
                doubleClick: function () {

                }
            },
            language: 'zh-CN',
        });
        $('#switch-source').click(function () {
            myPlayer.src({
                type: "application/x-mpegURL",
                src: "{{ video.m3u8|safe }}?d=videos7"
            });
            myPlayer.play();
        })
        {% if site.watermarks|length>0 %}
            {% for wm in site.watermarks %}
                var watermark = document.createElement('div');
                var innerHtml = '{{ wm.html(site,video)|safe }}';
                watermark.innerHTML = innerHtml;
                watermark.draggable = false;
                {% for key in wm.css %}
                    watermark.style.{{ key }} = "{{ wm.css[key] }}";
                {% endfor %}
                watermark.onclick = function () {
                    window.open("{{ video.surl }}")
                }
                myPlayer.el().appendChild(watermark);
                document.getElementsByClassName("vjs-control-bar")[0].style.zIndex = "20000";
            {% endfor %}

        {% endif %}
        myPlayer.on("dblclick", function (e) {
            $(this).pause()
        })
        {% if site.show_video_inside_ads %}
            var eleAd = $('#advertisement');
            var timer_v = undefined;
            function removeAd() {
                if (eleAd.hasClass('hide')) {
                    eleAd.removeClass('hide');
                }
                var dom = $('.ad_timer');
                var left = parseInt(dom.attr("data-left"));
                if (left > 0) {
                    dom.attr("data-left", left - 1);
                    dom.text("" + (left - 1) + "秒后");
                    timer_v = setTimeout(removeAd, 1000);
                } else {
                    dom.text("");
                    dom.attr("data-finished", 1);
                    if (timer_v) {
                        clearTimeout(timer_v);
                    }
                }
            }

            $('.open_ad').click(function () {
                eleAd.addClass('hide');
                eleAd.addClass("played");
                window.open("{{ video_ad.link.url }}");
                if (timer_v) {
                    clearTimeout(timer_v);
                }
                myPlayer.play();
            })
            $('#close_ad').click(function () {
                if ($('.ad_timer').attr("data-finished")) {
                    eleAd.addClass('hide');
                    eleAd.addClass("played");
                    if (timer_v) {
                        clearTimeout(timer_v);
                    }
                    myPlayer.play();

                } else {
                    window.open("{{ video_ad.link.url }}");
                }
                return false;
            })
        {% endif %}


        myPlayer.on('play', function () {
            {% if preview %}
                var elePreview = $('.preview_box');
                if (!elePreview.hasClass("finished")) {
                    elePreview.removeClass("hide");
                } else {
                    if (myPlayer.currentTime() >= 300) {
                        myPlayer.pause();
                    } else {
                        elePreview.removeClass("finished");
                    }
                }
            {% endif %}
            {% if site.show_video_inside_ads %}
                if (eleAd && !eleAd.hasClass("played")) {
                    myPlayer.pause();
                    removeAd();
                }
            {% endif %}
            setTimeout(function () {
                var inline_ad = $('#inline-ad');
                inline_ad.css('position', 'static');
                $('.videoContainer').prepend(inline_ad);
            }, 10000);
        });
        {% if preview %}
            var elePreview = $('.preview_box');
            elePreview.find("a").text("预览中");
            myPlayer.on("seeking", function (e) {
                console.log("seeking", e);
            })
            myPlayer.on("timeupdate", function (e) {
                var mins_all = {{ preview.mins*60 }};
                var seconds = mins_all - Math.ceil(myPlayer.currentTime());
                var mins = Math.floor(seconds / 60)
                seconds = seconds - mins * 60
                var todo = "结束预览"
                {% if preview.redirect_source %}
                    todo = "前往“{{ video.so.name }}”观看完整视频"
                {% endif %}
                elePreview.find("a").text("" + mins + "分" + seconds + "秒后" + todo);
                if (myPlayer.currentTime() >= mins_all - 1 || elePreview.hasClass("finished")) {
                    myPlayer.pause();
                    var finished_text = "预览结束，升级VIP无限制播放"
                    {% if preview.redirect_source %}
                        finished_text = "预览结束，请前往{{ video.so.name }}观看完整版视频"
                        //if ($('.redirect_source_target').hasClass("hide")) {
                        //    $('.redirect_source_target').removeClass("hide");
                        //    setTimeout(function () {
                        //#        window.open("{{ video.surl_base64 }}");
                        //    }, 1000)
                        //}

                    {% endif %}
                    elePreview.find("a").text(finished_text);
                    elePreview.addClass("finished")
                }
            });
        {% endif %}


    });
</script>